{{ if eq .Type "page" }}
  {{ partial "page_meta.html" . }}
{{ end }}
<footer>
  <div class="institution-footer">
    <div class="container">
      <div class="institution-footer-inner">
        <div class="institution-footer-logo">
          <img src="{{ "img/princeton_logo_85.png" | relURL }}" alt="Princeton University">
        </div>
        <div class="institution-footer-info">
          <p class="institution-name">PRINCETON UNIVERSITY</p>
          <p><a href="https://cee.princeton.edu/">Department of Civil and Environmental Engineering</a> | <a href="https://acee.princeton.edu/">Andlinger Center for Energy and the Environment</a></p>
          <p><strong><a href="https://cee.princeton.edu/people/ryan-kingsbury">Ryan Kingsbury (PI)</a></strong></p>
        </div>
      </div>
    </div>
  </div>
</footer>
